{% extends "nav.html" %}

{% block title %} | {{ article.title }}{% endblock %}

{% block content %}
	<article class="main article">
		<h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
		<div class="info">
			<span class="published">Published <time datetime="{{ article.date }}">{{ article.date }}</time></span>
			<span class="author">{{ article.author }}</span>
		</div>
		<div class="tags">
			Tags:
			{% for tag in article.tags %}
				<a class="tag" href="/tag/{{ tag }}">{{ tag }}</a>
			{% endfor %}
		</div>
		{% if article.summary %}
			<summary>{{ article.summary|safe }}</summary>
		{% endif %}
		{{ article.content|safe }}
	</article>
{% endblock %}
