@font-face {
  font-family: "Computer Modern";
  src: url("../fonts/cmunrm.otf");
}

:root {
	--main-background: #ffffff;
	--link: #006090;
	--title: #000000;
	--tag-background: #222222;
	--tag-color: #d4af37;
}

body {
	font-family: "Computer Modern";
}

header, main, footer {
	max-width: 800px;
	margin: 20px auto;
	background: var(--main-background);
}

header nav {
	display: inline-block;
}

header .subtitle {
	margin-right: 50px;
}

a, a:visited {
	color: var(--link);
	text-decoration: none;
}

h1 a, h2 a, h1 a:visited, h2 a:visited {
	color: var(--title);
}

nav a, nav a:visited {
	margin-right: 10px;
}

.tag, .tag:visited {
	padding: 0 5px 0 5px;
	border-radius: 5px;
	color: var(--tag-color);
	background: var(--tag-background);
}
