@font-face {
  font-family: "Computer Modern";
  src: url("../fonts/cmunrm.otf");
}

:root {
	--background-main: #ffffff;
}

body {
	font-family: "Computer Modern";
}

header, main, footer {
	max-width: 800px;
	margin: 20px auto;
	background: var(--background-main);
}

a, a:visited {
	color: #006090;
	text-decoration: none;
}

h1 a, h2 a, h1 a:visited, h2 a:visited {
	color: #000000;
}

nav a, nav a:visited {
	margin-right: 10px;
}

.tag, .tag:visited {
	padding: 0 5px 0 5px;
	border-radius: 5px;
	color: #d4af37;
	background: #222222;
}
