/* Variables */

:root {
	--primary: #fffff8;
	--secondary: #f8f8f8;
	--text-color: #101010;
	--link: #006090;
	--title: var(--text-color);
	--tag-background: #222222;
	--tag-color: #d4af37;

	--sidenote-width: 30vw;
	--content-width: 50vw;
	--toc-width: 20vw;

	counter-reset: sidenote-counter;
}

/* Dark theme */

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #2d2d2d;
		--secondary: #353535;
		--text-color: #c4c8cc;
		--link: #3ca4ff;
		--title: #eeeeee;
		--tag-background: #d4af37;
		--tag-color: #222222;
	}
}

/*::-webkit-scrollbar {
	background: var(--primary);
}

::scrollbar {
	background: var(--primary);
}*/

/* Font and text */

body {
	font-family: "Computer Modern Serif";
	color: var(--text-color);
	background: var(--primary);
}

/* Layout */

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

header, main, footer {
	width: 100vw;
	margin: 0;
	/*margin: 20px auto;*/
	padding-left: var(--toc-width);
	background: var(--primary);
}

header {
	padding-bottom: 20px;
	border-bottom: 1px solid var(--text-color);
}

header .subtitle {
	margin-right: 50px;
}

/* Navigation bar */

header nav {
	display: inline-block;
}

header nav .item, header nav .item:visited {
	margin-right: 10px;
}

/* Article */

article {
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--title);
}

article.preview > h3 {
	margin: 0;
	margin-top: 5px;
}

article.main .footnote hr {
	width: 100%;
}

.footnote {
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: none;
}

/* Viewed article */

article.main h1 { font-size: 1.8em; }
article.main h2 { font-size: 1.5em; }
article.main h3 { font-size: 1.25em; }
article.main h4 { font-size: 1.1em; }

article.main h1, 
article.main h2, 
article.main h3, 
article.main h4, 
article.main h5, 
article.main h6 {
	width: var(--content-width);
	text-align: left;
}

article.main hr {
	width: var(--content-width);
	margin: 0;
}

article.main summary {
	background: var(--secondary);
	padding: 10px;
}

article.main blockquote {
	background: var(--secondary);
	border-left: 5px solid var(--text-color);
	padding: 10px;
	padding-left: 15px;
	margin: 0;
}

article.main > p, article.main > summary, article.main > .info, article.main > blockquote {
	width: var(--content-width);
	line-height: 1.5em;
	text-align: justify;
}

article.main > .info > .author {
	float: right;
}

article.main > .info {
	margin-bottom: 20px;
}

/* Images etc. */

article.main img, article.main video {
	width: var(--content-width);
}

.wide {
	width: 100%;
}

.portrait, .gallery {
	width: var(--content-width);
}

article.main .portrait img {
	width: 50%;
	display: block;
	margin: 0 auto;
	padding: 10px;
	background: var(--secondary);
}

article.main .gallery {
	padding: 10px;
	background: var(--secondary);
}

article.main .gallery img {
	width: 49%;
	vertical-align: middle;
}

/* Code blocks */

.highlight {
	width: var(--content-width);
	padding: 5px;
	margin-left: 20px;
	font-size: 0.9em;
	/*background: var(--secondary);*/
	border: 3px solid var(--secondary);
	overflow-x: scroll;
}

/* Links */

a, a:visited {
	color: var(--link);
	text-decoration: none;
}

a[href^='mailto\:']::before {
  content: '📧 ';
}

h1 a, h2 a, h1 a:visited, h2 a:visited {
	color: var(--title);
	font-weight: bold;
}

/* Article tags */

.tag, .tag:visited {
	display: inline-block;
	padding: 0 5px 0 5px;
	border-radius: 5px;
	color: var(--tag-color);
	background: var(--tag-background);
}

/* Sidenotes, marginnotes, footnotes & figures */

@media (min-width: 760px) {
	.sidenote:before {
		counter-increment: sidenote-counter;
		content: counter(sidenote-counter);
		vertical-align: super;
		font-size: 0.7em;
	}

	.sidenote,
	.marginnote {
		float: right;
		clear: right;

		position: relative;
		left: 5%;
		padding: 10px 10% 10px 5%;

		margin-right: -60%;
		width: var(--sidenote-width);

		font-size: 0.9rem;
		vertical-align: baseline;
		text-align: justify;

		background: var(--secondary);
	}

	div.sidenote, div.marginnote {
		padding: 0;
		left: 0;
		margin: 0;
	}

	.footnote-ref:before {
		content: "[";
	}
	.footnote-ref:after {
		content: "]";
	}

	figure {
		float: right;
		clear: right;

		padding: 0 2.5% 0 5%;

		margin: 0;
		width: var(--sidenote-width);

		vertical-align: baseline;
	}
}

figcaption {
	text-align: center;
}
figcaption.long {
	text-align: justify;
}

article.main figure img {
	width: 100%;
}

/* Table */

table {
	width: var(--content-width);
	border-collapse: collapse;
}

td, th {
	padding: 5px;
	text-align: left;
}

thead {
	border-top: 2px solid var(--text-color);
	border-bottom: 1px solid var(--text-color);
}

tbody {
	border-bottom: 2px solid var(--text-color);
}

/* Mobile and small screens */

@media (max-width: 760px) {
	html, body {
		width: 100%;
	}

	:root {
    	--content-width: 100%;
    	--sidenote-width: 0;
    	--toc-width: 0;
    }

	pre {
		overflow-x: scroll;
		max-width: 100%;
	}

	header, main, footer {
		padding-left: 10%;
		padding-right: 10%;
	}

	.footnote-ref {
		display: none;
	}

	.sidenote:before {
		content: "Note " counter(sidenote-counter) ": ";
		counter-increment: sidenote-counter;
	}

	.marginnote:before {
		content: "Note: ";
	}

    .sidenote, .marginnote, figure, article.main .portrait img, article.main .gallery img {
		display: block;
		padding: 10px;
		margin: 0;

		background: var(--secondary);
		width: var(--content-width);
    }
}
